<h1> Places I have been:<h1>

  <% for place in @places %>
     <a href="/places/<%= place["id"] %>">
      <p><%=place["name"]%></p>
  <% end %>

<a href="/places/new/" class="btn btn-success">Add New Place</a>

